html {
    height: 100%;
}

body {
    height: 100%;
    font-family: Georgia, Roboto, sans-serif, Arial;
    background-color: #f4f4f4;
    /* Цвет фона страницы */
    padding: 0;
    margin: 0;
}

.full-width {
    width: 100%;
    box-sizing: border-box; /* Учитывать отступы и границы в общей ширине */
}

.dark {
    color: #353535;
}

.bold {
    font-weight: bold;
}
