.sort-link {
    color: white;
    text-decoration: none;
}

.glyphicon {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin: 0 5px;
}

.glyphicon-chevron-down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.glyphicon-chevron-up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}