body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  /* Цвет фона страницы */
  padding: 20px;
  margin: 0;
}

.field-validation-error {
    color: red;
    font-size: 12px;
}

input.input-validation-error {
    border: 1px solid red;
    background-color: rgb(255, 221, 221, 0.2);
}

input.valid, textarea.valid {
    border: 1px solid green;
    background-color: rgb(210, 255, 210, 0.2);
}

.form-container {
    font-size: 16px;
    background-color: #ffffff; /* Цвет фона формы */
    border-radius: 10px; /* Закругленные углы */
    padding: 10px; /* Отступы внутри формы */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); /* Тень под формой */
    max-width: 400px; /* Максимальная ширина формы */
    margin: auto; /* Центрирование формы */
}

.full-width {
  width: 100%;
  box-sizing: border-box; /* Учитывать отступы и границы в общей ширине */
}

input,
textarea {
    font-size: 16px;
    width: 100%; /* Ширина полей ввода */
    padding: 10px; /* Отступы внутри полей ввода */
    border: 1px solid #cccccc; /* Граница полей ввода */
    border-radius: 5px; /* Закругленные углы полей ввода */
    transition: border-color 0.3s; /* Плавный переход цвета границы */
    box-sizing: border-box; /* Учитывать отступы и границы в общей ширине */
}

input:focus,
textarea:focus {
  border-color: #007bff; /* Цвет границы при фокусе */
  outline: none; /* Убираем обводку при фокусе */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Тень при фокусе */
}

.styled-table {
  width: 100%;
  /* Ширина таблицы */
  border-collapse: collapse;
  /* Убираем двойные границы */
  margin: 20px 0px;
  /* Отступы вокруг таблицы */
  border-radius: 10px;
  /* Закругленные углы */
  overflow: hidden;
  /* Убираем выступающие углы */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* Тень под таблицей */
}

.styled-table thead {
  background-color: #007bff;
  /* Цвет фона заголовка */
  color: #ffffff;
  /* Цвет текста заголовка */
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
  /* Отступы внутри ячеек */
  text-align: left;
  /* Выравнивание текста */
}

.styled-table tbody tr {
  background-color: #ffffff;
  /* Цвет фона для строк */
  transition: background-color 0.3s;
  /* Плавный переход цвета фона */
}

.styled-table tbody tr:hover {
  background-color: #f1f1f1;
  /* Цвет фона при наведении на строку */
}

.styled-table tbody td {
  border-bottom: 1px solid #dddddd;
  /* Нижняя граница ячеек */
}

.button {
  display: inline-block;
  /* Позволяет добавлять отступы и размеры */
  padding: 10px 20px;
  /* Отступы внутри кнопки */
  color: rgb(255, 255, 255);
  font-weight: bold;
  /* Жирный текст */
  /* Цвет текста */
  text-align: center;
  /* Центрирование текста */
  text-decoration: none;
  /* Убираем подчеркивание */
  border-radius: 5px;
  /* Закругленные углы */
  border: none;
  /* Убираем рамку */
  transition: background-color 0.3s ease;
  /* Плавный переход цвета фона */
}

.button:hover {
    cursor: default;
}

.bg-green {
    background-color: rgb(0, 190, 0);
    /* Цвет фона кнопки */
}

.bg-green:hover {
    background-color: rgb(0, 225, 0);
    /* Цвет фона при наведении */
}

.bg-green:active {
    background-color: rgb(0, 255, 0);
    /* Цвет фона при нажатии */
}

.bg-yellow {
    background-color: rgb(190, 190, 0);
}

.bg-yellow:hover {
    background-color: rgb(225, 225, 0);
}

.bg-yellow:active {
    background-color: rgb(255, 255, 0);
}

.bg-red {
    background-color: rgb(190, 0, 0);
}

.bg-red:hover {
    background-color: rgb(225, 0, 0);
}

.bg-red:active {
  background-color: rgb(255, 0, 0);
}

.bg-blue {
    background-color: rgb(0, 100, 190);
}

.bg-blue:hover {
  background-color: rgb(0, 145, 225);
}

.bg-blue:active {
    background-color: rgb(0, 190, 255);
}
