@using ASP_NET_MVC_Shop_Example.Models

@{
    ViewBag.Title = "Редактировать товар";
    Layout = "/Views/Shared/_Layout.cshtml";
}

@model Product

<div class="form-container">
    <h3 class="dark bold">@ViewBag.Title</h3>
    <form asp-action="Edit" asp-route-id="@Model.Id">
        <p>
            <label asp-for="Name"></label><br />
            <input class="form-input" type="text" asp-for="Name" /><br />
            <span asp-validation-for="Name" />
        </p>
        <p>
            <label asp-for="Price"></label><br />
            <input class="form-input" type="number" step="1" asp-for="Price" /><br />
            <span asp-validation-for="Price" />
        </p>
        <p>
            <label asp-for="Description"></label><br />
            <textarea class="form-textarea" type="text" asp-for="Description"></textarea><br />
            <span asp-validation-for="Description" />
        </p>
        <input class="form-button-create" type="submit" value="Сохранить" />
    </form>

    <p>
        <a class="form-button-back" asp-action="Index">Назад к списку</a>
    </p>
</div>